* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1140px;
}

section {
  margin-bottom: 130px;
}

h1,
h2,
h4,
a {
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.text-center {
  text-align: center;
}

.banner-heading {
  font-size: 65px;
  color: white;
  width: 60%;
  text-align: center;
}

.section-heading {
  font-size: 45px;
  text-align: center;
  color: #121212;
}

a,
input[type="submit"] {
  padding: 16px 21px;
  background-color: #ff5959;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#top-banner {
  min-height: 669px;
  background-image: url(images/donation2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#top-banner::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  z-index: -1;
}

#top-banner p {
  width: 50%;
  color: white;
  font-size: 18px;
  margin: 20px 0 30px;
}

#donate-today > p {
  width: 50%;
  margin: 20px auto 50px;
}

.donation {
  flex-direction: column;
}

.donate-amount {
  width: 55%;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}

.amount {
  background-color: #fafafa;
  border-radius: 5px;
  width: 125px;
  height: 135px;
  line-height: 135px;
  font-size: 28px;
  color: #707070;
}

.amount .active {
  background-color: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
  color: #ff5959;
}

.other-donation {
  margin: 0 auto;
}

.other-donation {
  margin-top: 60px;
}

.other-amount {
  font-family: "Poppins", sans-serif;
  line-height: 3;
  font-size: 18px;
  text-align: center;
  width: 700px;
  border: none;
  border-bottom: 1px dotted gray;
  margin-bottom: 20px;
}

.other-amount::placeholder {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #b3b3b3;
  font-size: 18px;
}

.donation-submit {
  display: block;
  border: none;
  margin: 0 auto;
  font-weight: 600;
  font-size: 20px;
}
