* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

section {
  margin-bottom: 130px;
}

h1,
h2,
h4,
a {
  font-family: "Rubik", sans-serif;
}

h3,
p {
  font-family: "Poppins", sans-serif;
}

.text-center {
  text-align: center;
}

.banner-heading {
  font-size: 65px;
  color: white;
  width: 60%;
  text-align: center;
}

.section-heading {
  font-size: 45px;
  text-align: center;
  color: #121212;
}

a,
.donation-submit {
  padding: 16px 21px;
  background-color: #ff5959;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#top-banner {
  min-height: 669px;
  background-image: url(images/donation2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#top-banner::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  z-index: -1;
}

#top-banner p {
  width: 50%;
  color: white;
  font-size: 18px;
  margin: 20px 0 30px;
}

#donate-today > p,
#our-donate-plan > p,
#get-updates > p {
  width: 50%;
  margin: 20px auto 50px;
  color: #707070;
}

.donation {
  flex-direction: column;
}

.donate-amount {
  width: 55%;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}

.amount {
  background-color: #fafafa;
  border-radius: 5px;
  width: 125px;
  height: 135px;
  line-height: 135px;
  font-size: 28px;
  color: #707070;
}

.amount .active {
  background-color: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
  color: #ff5959;
}

.other-donation {
  margin: 0 auto;
}

.other-donation {
  margin-top: 60px;
}

.other-amount {
  font-family: "Poppins", sans-serif;
  line-height: 3;
  font-size: 18px;
  text-align: center;
  width: 700px;
  border: none;
  border-bottom: 1px dotted gray;
  margin-bottom: 20px;
}

.other-amount::placeholder {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #b3b3b3;
  font-size: 18px;
}

.donation-submit {
  display: block;
  border: none;
  margin: 0 auto;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.donate-plans {
  justify-content: space-between;
}

.donate-plan {
  width: 30%;
  border-radius: 5px;
  padding: 60px 25px;
}

.plan-1 {
  background-color: rgba(79, 157, 166, 0.1);
}

.plan-2 {
  background-color: rgba(255, 89, 89, 0.1);
}

.plan-3 {
  background-color: rgba(255, 244, 214, 1);
}

.donate-plan-heading {
  margin: 30px 0 15px;
  color: #121212;
}

.donate-plan-description {
  color: #707070;
}

#what-we-did {
  background-image: url(images/what-we-did-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;
}

#what-we-did h1 {
  text-transform: capitalize;
  font-size: 60px;
  width: 600px;
  color: white;
}

.activities {
  margin-top: 35px;
  width: 600px;
  gap: 45px;
}

.activity {
  width: 28%;
}

.activity h3 {
  background-image: url(icons/icon-heart.png);
  background-repeat: no-repeat;
  background-position: top left;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: white;
  line-height: 2;
}

.activity h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.subscription-area {
  justify-content: center;
  align-items: center;
  background-color: #fff4d6;
  font-weight: 700;
  width: 55%;
  height: 200px;
}

.email-field {
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  padding: 14px 17px;
}

.email-field::placeholder {
  color: #aa9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.email-submit {
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: #ff5959;
  color: white;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  padding: 10.5px 25px;
  margin-left: -5px;
  cursor: pointer;
}

footer {
  background-color: #0b0d17;
  padding: 45px 0;
}

footer h2 {
  font-family: "Lobster", cursive;
  color: #ff5959;
  font-size: 36px;
  margin-bottom: 24px;
}

footer p {
  color: #d9dbe1;
  font-size: 14px;
}
